#android, #chrome
{ 
	width: 20px;
	height: 20px;
	/*max-width: 40px;
	max-height: 40px;*/
	/*width: 20px;*/
}

.my_img_class
{
	max-width: 120px;
	max-height: 120px;
}

body
{
	width: 500px;
	height: 500px
}

div > p
{
	background-color: #333;
	color: white;
}